.bInfo-container {
    padding: 20px 0 40px;
    height: 340px;

    .banner-cont {
        float: left;
        height: 280px;
        width: 610px;

        .code-box-wrapper .code-box-demo {
            padding: 0;
        }

        .banner-user {
            height: 220px;
        }

        .banner-user-elem {
            text-align: center;
            color: #fff;
            position: relative;
            overflow: hidden;

            .banner-user-text {
                text-align: left;
                width: 100%;
                background: rgba(0,0,0,.4);
                bottom: 0;
                position: absolute;
                font-size: 14px;
                height: 40px;
                line-height: 40px;
                padding-left: 10px;
            }
        }

        .banner-anim {
            height: 100%;

            .bg {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .banner-anim-thumb-default {
            span {
                background: #fff;

                &.active {
                    background: #db4528;
                }
            }
        }

        .ant-carousel {
            .slick-slide {
                height: 280px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .top-infos-cont {
        float: left;
        width: 390px;
        height: 280px;
        padding: 0 10px;

        .top-infos-item {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 10px 0;
            line-height: 36px;
            height: 56px;
            cursor: pointer;
            display: block;

            .ant-btn {
                font-size: 14px;
            }

            .top-infos-title {
                font-size: 16px;
                color: #333;
                padding-left: 10px;
            }

            &:hover .top-infos-title {
                color: #db4528;
            }
        }
    }
}
